*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(243, 240, 240) !important;
  font-family: "Poppins", serif !important;
}

:root{
  --second-color : #1894ba;
  --orange-color : #f17732;  
}
a{
  text-decoration: none;
}

span{
  display: block;
}

li{
  list-style-type: none;
}
button{
  text-align: center;
  height: 40px;
  border-radius: 5px;
}

p{
  line-height: 28px;
}

input{
  border: 1px solid white;
  padding: 5px 15px;
  color: #333;
  font-size: 16px;

}
